---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-compliance-security-local-v1alpha1-secretpolicy
  failurePolicy: Fail
  name: vsecretpolicy-v1alpha1.kb.io
  rules:
  - apiGroups:
    - compliance.security.local
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - secretpolicies
  sideEffects: None
