---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - compliance.security.local
  resources:
  - secretpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - compliance.security.local
  resources:
  - secretpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - compliance.security.local
  resources:
  - secretpolicies/status
  verbs:
  - get
  - patch
  - update
